.navigation{
    background:#f4f5f4;
    height: 60px;
    margin-top: 0px;

}
.form-inline{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar{
    width: 100%;
    height: 40%;
    background-color: #ffe7d0;
   
}
.title{
    margin:30px;
    font-family: Verdana;
    font-size: 60px;
    padding-left: 50px;
}

li{
    font-size: 20px;
    padding-right: 30px;

}
.footer{
    background:#ffe7d0 ;
    width: 100%;
    height: 17%;
    font-size: large;
    font-family: Verdana;
    color: darkblue;
}

.quote{
    font-size: large;
    margin-top: 90px;
    
}
.navbar1{
    margin-left: 1200px;
    margin-top: 0px;
}
