<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<div class="card border-bg" style="width: 30rem;">
   
    <form method="post" >
      {% csrf_token %}
       
     <center> 
        Title: <input type="text" name="blog_title"  required=""><br>
Tags: <input type="text" name="tags"  required=""><br>  
Blog: <input type="text" name="blog"  required=""><br>
Image: <input type="file" name="image"  required=""><br>
 Date: <input type="Date" name="date" placeholder="Date" required=""><br>
 Author: <input type="text" name="author"  required=""><br>
              
  
    
      <button type="submit">Publish</button><br>
         
  
    </form><br></div>
  
  <center>
    </html>